body {
  font-family: "Pretendard";
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapper h1 {
  font-size: 2rem;
}

.input-link {
  display: flex;
  justify-content: space-between;
}

.input-link input {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding: 15px;
}

.input-link input:focus {
  outline: none;
  border: 1px solid #275950;
}

.input-link button {
  margin-left: 2px;
  cursor: pointer;
  border: none;
  width: 60px;
  border-radius: 5px;
  color: white;
  background-color: #275950;
}

.wordcloud-image img {
  width: 100%;
  height: 100%;
}
